<h1>Add a Team</h1>

<p>Add a team here:</p>

<form action="/squads" method="post">
  <label for="team">Team Name</label>
  <input type="text" name="team" id="team">
  <button type="submit" class="btn btn-danger">Add a Team</button>
</form>
